# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual envs
.vscode/
.venv/
*/.venv/

# OS files
.DS_Store
Thumbs.db

# Project folders
vinted/input/
vinted/output/

# Images exports (optional keep outputs tracked if needed)
*.jpg
*.jpeg
*.png
